* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}
.loader {
  position: relative;
  width: 100px;
  aspect-ratio: 1;
  border: 4px solid transparent;
  border-top: 4px solid #b858ff;
  border-bottom: 4px solid #fff958;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
.loader::before {
  content: "";
  position: absolute;
  inset: 10px;
  border: 4px solid transparent;
  border-top: 4px solid #3ce7d8;
  border-bottom: 4px solid #e74c3c;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
.loader::after {
  content: "";
  position: absolute;
  inset: 24px;
  border: 4px solid transparent;
  border-top: 4px solid #ff67ad;
  border-bottom: 4px solid #39ff8d;
  border-radius: 50%;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  to {
    transform: rotate(360deg);
  }
}
