*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .loader {
    width: 300px;
    height: 50px;
    background: #affd5b;
    border: 2px solid #262626;
    transform: skewX(-20deg);
    overflow: hidden;
  }
  .loader h1{
    color: #262626;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    word-spacing: 15px;
    position: relative;
  }
  .loader::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-left: 2px solid #262626;
    border-right: 2px solid #262626;
    animation: animate 6s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: translateX(-100%);
    }
    40% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(100%);
    }
  }