* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  pointer-events: none;
  animation: fadeout 0.5s linear forwards;
  animation-delay: 8.5s;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #000;
}
.count {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18vw;
  color: #fff;
  font-weight: 800;
  mix-blend-mode: difference;
  text-align: right;
}
.welcome {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
