* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background: #262626;
    min-height: 100vh;
  }
  ul {
    position: absolute;
    top: 50%;
    left: 50%;;
    transform: translate(-50%, -50%);
  }
  ul li {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    list-style: none;
    animation: animate 1s linear infinite;
    box-shadow: 10px 20px 0 #fff, -10px -20px 0 #fff;
    animation-delay: calc(var(--i) * -0.2s);
  }
  @keyframes animate {
    0%{
      transform: translateX(-100px);
      opacity: 0;
    }
    50%{
      transform: translateX(0);
      opacity: 1;
    }
    100%{
      transform: translateX(100px);
      opacity: 0;
    }
  }