@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #262626;
}
.stroke {
  position: relative;
  width: 400px;
  height: 2px;
  background: #fff;
}
.stroke::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #262626;
  animation: animate 5s linear infinite;
  animation-timing-function: cubic-bezier(0.7, 0.07, 0.14, 0.9);
}
@keyframes animate {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  0% {
    left: 0;
  }
}
.stroke::after {
  content: "\f303";
  font-family: fontAwesome;
  font-size: 2em;
  position: absolute;
  top: -1em;
  left: 0;
  width: 100%;
  height: 100%;
  color: #a9ff08;
  background: #262626;
  animation: animate 5s linear infinite;
  transform: translateX(2px);
  animation-timing-function: cubic-bezier(0.7, 0.07, 0.14, 0.9);
}
