* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-self: center;
  align-items: center;
  min-height: 100vh;
  background: #ffc107;
}
ul {
  display: flex;
  border: 4px solid #ff0;
  transform: skew(-25deg);
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.2);
}
ul li {
  list-style: none;
  position: relative;
  width: 80px;
  height: 80px;
  background: #ff0;
  font-size: 3em;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.1);
}
ul li::before {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #262626;
  animation: animate 2s linear infinite;
  animation-delay: calc(var(--i) * 0.1s);
}
@keyframes animate {
  0% {
    top: -100%;
  }
  20% {
    top: 0%;
    background: transparent;
    color: #262626;
  }
  40% {
    top: 0%;
    background: #262626;
    color: #ff0;
  }
  60% {
    top: 0%;
    background: transparent;
    color: #262626;
  }
  80% {
    top: -20%;
    background: transparent;
    color: #262626;
  }
  100% {
    top: 100%;
  }
}
