* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  ul {
    position: relative;
    width: 200px;
    height: 200px;
    transform: translateY(-50%);
  }
  ul li {
    list-style: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    transform-origin:  bottom center;
    animation: animate 7s linear infinite;
    animation-delay: calc(var(--i) * 1s);
  }
  @keyframes animate{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  ul li:nth-child(1){
    background: rgba(214,188,211,0.8);
  }
  ul li:nth-child(2){
    background: rgba(216,134,167,0.8);
  }
  ul li:nth-child(3){
    background: rgba(177,101,212,0.8);
  }
  ul li:nth-child(4){
    background: rgba(123,77,197,0.8);
  }
  ul li:nth-child(5){
    background: rgba(253,143,232,0.8);
  }
  ul li:nth-child(6){
    background: rgba(251,124,195,0.8);
  }
  ul li:nth-child(7){
    background: rgba(229,103,154,0.8);
  }
  ul li:nth-child(8){
    background: rgba(48,83,144,0.4);
  }