* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #ffeb3b;
}
.loader {
  position: absolute;
  left: calc(50% + 26px);
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
.loader span {
  position: relative;
  display: block;
  width: 2px;
  height: 66px;
  margin-top: -52px;
  animation: animate 2s linear infinite;
  animation-delay: calc(var(--i) * 0.5s);
}
@keyframes animate {
  0%,
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
}
.loader span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
}
.loader span:nth-child(1):before,
.loader span:nth-child(1):after {
  background: #f00;
}
.loader span:nth-child(2):before,
.loader span:nth-child(2):after {
  background: #0f0;
}
.loader span:nth-child(3):before,
.loader span:nth-child(3):after {
  background: #00f;
}
.loader span:nth-child(4):before,
.loader span:nth-child(4):after {
  background: #ff0;
}
