* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #959595;
}
.circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5), 0 0 0 20px rgba(0, 0, 0, 0.5);
}
.dots {
  position: absolute;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid #262626;
  animation: animate 5s linear infinite;
}
.dots::before {
  content: "";
  position: absolute;
  left: calc(50% - 5px);
  top: -10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 40px 0px 0 #ff0,
    -40px 0px 0 #ff0, 40px 30px 0 #fff, 0px -20px 0 #fff;
  animation: animate 5s linear infinite;
}
.dots::after {
  content: "";
  position: absolute;
  left: calc(50% - 5px);
  bottom: -10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), -40px 0px 0 #ff0,
    40px 00px 0 #ff0, -40px -30px 0 #fff, 0px 20px 0 #fff;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
