* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loader {
  position: relative;
  display: flex;
}
.loader span {
  color: #fff;
  margin: 0 15px;
  font-size: 8em;
  font-weight: bold;
  animation: animate 2.4s linear infinite;
  animation-delay: calc(var(--i) * 0.2s);
}
@keyframes animate {
  0% {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transform: scale(1);
  }
  40% {
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.4);
  }
  80%,
  100% {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0);
    transform: scale(1);
  }
}
