* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ff5757;
}
span {
  color: #262626;
  background: #fff;
  padding: 10px 20px;
  margin: 0;
  display: table-cell;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #ccc;
  animation: animate 0.5s linear infinite;
  animation-delay: calc(var(--i) * 0.2s);
}
@keyframes animate {
  0% {
    transform: translateY(0px);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #ccc,
      0 15px 5px rgba(0, 0, 0, 0);
  }
  50% {
    transform: translateY(-20px);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #ccc,
      0 15px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    transform: translateY(0px);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #ccc,
      0 15px 5px rgba(0, 0, 0, 0);
  }
}
