* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #262626;
}
.loader {
  position: relative;
  width: 100px;
  height: calc(100px * 4 / 3);
  background: #fff;
  border-radius: 8px;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(200px) rotateX(0) rotateY(0);
  }
  50% {
    transform: perspective(200px) rotateX(-180deg) rotateY(0);
  }
  100% {
    transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}
