* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #111;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
}
.loader span {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    left: 0;
    top: 0;
  }
  5% {
    left: 0;
    top: 0;
  }
  20% {
    left: 50%;
    top: 0;
  }
  25% {
    left: 50%;
    top: 0;
  }
  50% {
    left: 50%;
    top: 50%;
  }
  55% {
    left: 50%;
    top: 50%;
  }
  75% {
    left: 0;
    top: 50%;
  }
  80% {
    left: 0;
    top: 50%;
  }
  100% {
    left: 0;
    top: 0;
  }
}
.loader span:nth-child(1) {
  background: #00bcd4;
  box-shadow: 0 0 10px #00bcd4, 0 0 20px #00bcd4;
}
.loader span:nth-child(2) {
  background: #08ff28;
  animation-delay: -0.5s;
  box-shadow: 0 0 10px #08ff28, 0 0 20px #08ff28;
}
.loader span:nth-child(3) {
  background: #f00;
  animation-delay: -1s;
  box-shadow: 0 0 10px #f00, 0 0 20px #f00;
}
.loader span:nth-child(4) {
  background: #ff0;
  animation-delay: -1.5s;
  box-shadow: 0 0 10px #ff0, 0 0 20px #ff0;
}
