---
import {BaseLayout} from "@/layouts";
import { SiteConfig } from "@/config";
import { Image } from "astro:assets";
---

<BaseLayout>
  <div>
		<Image class="avatar" width={720} height={360} src={SiteConfig.avatar} alt={SiteConfig.title} />
		<div>{SiteConfig.description}</div>
		<a href="/posts">点击开始</a>
	</div>
</BaseLayout>

<style>
	.avatar {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		object-fit: cover;
	}
</style>