---
import { BaseLayout } from "@/layouts";
import { SiteConfig } from "@/config";
import { Image } from "astro:assets";
---

<BaseLayout>
  <div class="flex flex-col items-center justify-center flex-1">
    <div
      class="w-[150px] h-[150px] rounded-full shadow-xl border-white border-2 overflow-hidden animate-spin-slow hover:scale-110 transition-all duration-300 "
    >
      <Image
        class="object-cover w-full h-full"
        width={150}
        height={150}
        src={SiteConfig.avatar}
        alt={SiteConfig.title}
      />
    </div>

    <div class="text-center mt-4">{SiteConfig.description}</div>
    <a
      href="/posts/1"
      class="mt-6 inline-block px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
      >点击开始</a
    >
  </div>

<style>
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 8s linear infinite;
  }
</style>
</BaseLayout>
