* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(#fff, #757575);
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 5px;
  background: #000;
}
.box::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 5px;
  height: 100%;
  background: #000;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: 1;
}
.circle.circle2 {
  width: 600px;
  height: 600px;
}
.niddle {
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  height: 4px;
  width: 1200px;
  background: #000;
  animation: animate 1s linear infinite;
  transform-origin: left;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.number {
  position: absolute;
  width: 100%;
  height: 100%;
}
.number div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 25em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: animateNumber 10s linear infinite;
  animation-delay: calc(var(--i) * 1s);
}
@keyframes animateNumber {
  0%,
  10% {
    opacity: 1;
  }
  10.01%,
  100% {
    opacity: 0;
  }
}
