* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loader {
  position: relative;
}
.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #262626;
  border-radius: 50%;
}
.loader span:nth-child(1) {
  width: 40px;
  height: 40px;
  border-bottom: 6px solid transparent;
  animation: animate1 1s linear infinite;
}
.loader span:nth-child(2) {
  width: 100px;
  height: 100px;
  border-top: 6px solid transparent;
  animation: animate2 1s linear infinite;
}
.loader span:nth-child(3) {
  width: 160px;
  height: 160px;
  border-bottom: 6px solid transparent;
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
