---
import { SiteConfig } from "@/config";
---

<header class="flex justify-between items-center px-6 py-4">
    <h1>
      <a href="/">
        <span class="font-bold text-lg">{SiteConfig.title}</span>
      </a>
    </h1>
    <nav class="flex gap-2">
      <a href="/posts">文章</a>
      <a href="/lists/loader">加载器</a>
    </nav>
</header>
