* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2b2b2b;
  }
  .loader span{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    transition: all 0.5s;
    animation: animate 2s infinite;
    animation-delay: calc(var(--i) * 0.1s);
  }
  @keyframes animate {
    0%{
      color: rgba(255, 255, 255, 0.1);
      transform:  translateY(0);
      margin-left: 0;
    }
    25%{
      color: yellow;
      transform:  translateY(-15px);
      margin-left: 10px;
      text-shadow: 0 15px 5px rgba(0, 0, 0, 1);
    }
    100%{
      color: rgba(255, 255, 255, 0.1);
      transform:  translateY(0);
      margin-left: 0;
    }
  }