* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  h1 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #f5f5f5;
  }
  h1::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #111;
    border-right: 2px solid #111;
    overflow: hidden;
    animation: animate 2s linear infinite;
  }
  @keyframes animate {
    0%{
      width: 0%;
    }
    50%{
      width: 100%;
    }
    100%{
      width: 0%;
    }
  }