* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d1d1d;
  }
  ul {
    display: flex;
    overflow: hidden;
  }
  ul li{
    position: relative;
    list-style: none;
    width: 150px;
    height: 150px;
    border: 1px solid #262626;
    background: #262626;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  }
  ul li:nth-child(even):before{
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 150px;
    display: inline-block;
    background: #ff0;
    font-size: 80px;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    animation:  animateEven 1.5s linear infinite;
    animation-delay: calc(var(--i) * 0.1s);
  }
  @keyframes animateEven {
    0%{
      transform: scale(1);
      top: -100%;
    }
    30%{
      transform: scale(0.5);
      top: 0;
    }
    70%{
      transform: scale(0.5);
      tip: 0;
    }
    100%{
      transform: scale(0.2);
      top: 100%;
    }
  }
  ul li:nth-child(odd):before{
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 150px;
    display: inline-block;
    background: #ff0;
    font-size: 80px;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    animation:  animateOdd 1.5s linear infinite;
    animation-delay: calc(var(--i) * 0.1s);
  }
  @keyframes animateOdd {
    0%{
      transform: scale(1);
      top: 100%;
    }
    30%{
      transform: scale(0.5);
      top: 0;
    }
    70%{
      transform: scale(0.5);
      tip: 0;
    }
    100%{
      transform: scale(0.2);
      top: -100%;
    }
  }